.grid_list {
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-gap: 15px;
    padding: 20px;
}
.img_holder {
    width: 50%;
    margin: 0 auto;
}
.project_box img {
    width: 100%;
}
h3 {
    text-align: center;
}
.deleteBtn {
width: 100%;
margin: 0 auto;
}
.project_box {
     background-color: #eee;
     padding: 10px;
}