
.App{
    width: 100%;
}


/* NAV BAR */

.navbar{
    display: flex;
    justify-content: space-around;
}

/**************************/

/* Headers */
h2{
    margin-bottom: 40px;
}
/**************************/


/* Grid styl : container , ROW */

        .container{
            width:100%;


        }
        .row{
            width:100%;
        }
/**************************/