

/**** Home ********/

.home {
       background-image:linear-gradient(rgba(39, 39, 39, 0.788), rgba(39, 39, 39, 0.788)),
       url("https://images.unsplash.com/photo-1604798676621-1367601dee73?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
       background-size: cover;
       background-position: top;
       background-repeat: no-repeat;
display: flex;
justify-content: space-between;
width: 100%;

    /* background-color: rgba(238, 238, 238, 0.822); */
    
}
.person_card {
      width: 40%;
     height: 40vh;
     margin-top: 100px;
     padding-top: 40px;
    
}

.card_info {
    padding: 30px;
    text-align: center;

}

.middle_section {
    /* text-align: center;
     width: 80%;
    margin: 30px auto;  */
    background-color:white;
}

/*********** SIDE BAR*************/
.side_bar_menu {
   
    height: 100vh;
    width: 20%;
    
}
.side_bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
  margin-top: 60px;
}

.side_bar li {
    margin-top: 50px;
}
 .side_link {
    color: rgb(161, 161, 161);
 }
.side_bar .side_link:hover {
 color: black;
 text-align: center;
}
.side_bar i{
    font-size: 40px;
    color: #9da4cf;
   
}
.side_bar p {
    text-align: center;
}

/********** POST *********************/
.right-box {
    width: 20%;
    margin-top: 70px;
}
.right-box .post {
text-align: center;
padding: 10px;


}
.middle_section {
    padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}


.article_container {
    width: 60%;
    margin: 0 auto;
    height: 100vh;
}
.article_container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/********** POST_DETAILS *********************/
.atricle_details {
    width: 80%;
    text-align: center;
    height: auto;
    background-color: #eee;
    margin: 0 auto;
 
}
.actual_post {
    width: 100%;
    padding: 20px;

}
.actual_post h1, p {
    margin: 0;   
    text-align: left;
    padding: 3%;
}
/* .actual_post 
p {
    text-align: left;
    padding: 0;
} */
.actual_post {
    position: relative;;
}
.actual_post .deleteBtn {
    position: absolute;
    right: 20px;
    top: 10px;
}

 



/**************img *************/

.img_box {
 
width: 30vh;
height: 30vh;
}

.img_box img {

      width: 100%;
      height: 100%;
      border-radius: 50%;
}


/**************** PROJECTS **************/

.project_area {
    height: auto; 
    background-color: #eee;
    
}
.project_name_link {
    color: black;
    text-transform: uppercase;
}



.project_area h1 ,p {
    text-align: center;
    margin: 0;
    padding: 15px;
}
.grid_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 90%;
    margin: 0 auto;
}

.img_holder {
    width: 100%;
    margin: 0 auto;
    height: 40vh;  

}
.project_box img {
    width: 100%;
    height: 100%;
    padding: 10px; 
}

h4 {
    text-align: center;
    visibility: hidden;
}

.project_box {
    position: relative;
    height: 40vh;
    overflow: hidden;
    padding: 0;
}
.project_box:hover .hoverBtns {
        opacity: 1;
}

.project_box:hover h4 {
    visibility: visible;
}
.hoverBtns {
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;

    width: 100%;
}
.hoverBtns .btn  {
    margin-right: 20px;
}
.addBTN {
    /* background-color: rgba(238, 238, 238, 0.829); */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40vh;
    width: 90%;
    margin: 0 auto;
}

/**************** PROJECT DETAIL**************/
.projectDetail_container {
    width: 100%;
    height: auto;
    background-color: #eee;
}
.projectDetail_container h3 {
    margin: 0;
    padding: 20px;
}
.projectDeatil_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectDeatil_grid i {
    color: black;
    font-size: 2em;
    margin-top: 20px;
}
.projectDeatil_grid i:hover {
    color: grey;
}
.project_img {
    width:40%;
   height: 30%;
    margin: 0 auto;
   
}
.project_img img {
    width: 100%;
     height: 100%;
}

.visit_link {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

/***************** Expereince *****************/
.experience_container {
     height: auto;
     background-color: #eee;
     padding: 3em;
}
.experience_container h1 {
    margin: 0;
}
.flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.flex_left i {
    font-size: 8em;
}
.experience_container ul {
    list-style: none;
}

.experience_container h1 {
    text-align: center;
}

.experience_container li {

    margin: 20px 0;
}

.group_span span {
    margin-right: 10px;
}

/**************** Certification *****************/
.certification_container {
 height: auto;
 background-color: #eee;


}

.certification_container h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
}
.certification_list {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.certification_list i {
    font-size: 2em;
}
.certification_row {
  padding: 20px;
}
.certification_row img {
    width: 100%;
}

/**************** Skills *****************/
.skills-container {
    background-color: #eee;
    width: 100%;
    padding: 2%;

}
.flex_boxes {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.skills-container h2{
     text-align: center;
     margin: 0;
     padding: 10px;
}
.flex_left {
display: flex;
flex-direction: column;
width: 50%;
}

.skille_grid h3 {
    margin-bottom: 20px;
}
.progress {
    height: 20px;
background-color: #82b1ff
}

.progress .determinate {
   background-color: #304ffe !important; 
}
.danger .determinate {
    background-color: #fe6030 !important;
}
.power .determinate {
    background-color: #25c525 !important;
}
.flex_right {
    width: 50%;
}
.flex_right h5 {
    text-align: center;
}
.grid-left,.grid-right,
.grid-middle {
    margin-bottom: 10px;
}

.tool_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ides {
    width: 40%;
    height: 40vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.ides img {
    width: 100%;
}
.icon_holder {
    width: 50px;
    height: auto;
    display: flex;
}
.icon_holder img {
    width: 100%;
    margin-right: 20px;
}
/**************** 404*****************/

.NotFound {
   
     height: 100vh;
     background-color: #eee;
}
.notFound_box { 
    text-align: center;
   width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 94, 0, 0.315);
    color: black;
}
.NotFound h3 {
    padding: 5%;
}

/************* FOOTER *****************/
  .App {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }

  main {
      flex: 1 0 auto;
  }

 .page-footer {
     background-color: #1d2031;
 } 
.colmns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
}
.footer_list {
    text-align: left;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons i {
    font-size: 35px;
}
.contact_info {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
}
.contact_info i {
    margin-right: 20px;
    margin: 10px 0;
}

.footer-copyright .container {
    text-align: center;
}



/***************************************************************/
/***************************************************************/

/***************** Media Query *************************/

/**************** PROJECTS ***************************/

@media screen and (max-width: 769px) {
    .project_area {
        padding: 0;
        margin: 0;
    }
   .grid_list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   }
   .img_holder img {
       padding: 0;
   }
}
@media screen and (max-width: 426px) {
    .project_area {
        padding: 0;
        margin: 0;
    }

    .grid_list {
        grid-gap: 0px;
        display: flex;
        flex-direction: column;
    }

    .img_holder img {
        padding: 0;
    }
}

/************************ Project_DETAILS *****************/


@media screen and (max-width: 426px) {
.project_img {
   width: 100%;
}
}
@media screen and (max-width: 769px) {
    .project_img {
        width: 90%;
        margin: 0 auto;
    }
}

/**************** Expereice ************************/
@media screen and (max-width: 769px) {
   .flex_box {
       display: flex;
       flex-direction: column;
   }
}


/**************** Skills ************************/
@media screen and (max-width: 769px) {
    .flex_boxes {
          display: flex;
          flex-direction: column;
    }
    .flex_left, .flex_right {
        width: 100%;    
        display: flex;
        flex-direction: column;
        text-align: center;
    }
       .tool_img {
           display: flex;
           flex-direction: column;

       }
        .ides {
            width: 20%;
            height: 20%;
            margin-bottom: 50px;
        }

        .ides img {
            width: 100%;
            height: 100%;
        }


}

@media screen and (max-width: 426px) {
    .tool_img {
        display: flex;
        flex-direction: column;

    }

    .ides {
        width: 20%;
        height: 20%;
        margin-bottom: 50px;
    }

    .ides img {
        width: 100%;
        height: 100%;
    }
}


/********** POST_DETAILS *********************/
@media screen and (max-width: 769px) {
.atricle_details {
    width: 100%;
}
}

















/************* Foote ****************/
@media screen and (max-width: 426px) {
  .colmns {
      display: flex;
      flex-direction: column;
  }
  .footer_list {
      text-align: center;
  }
}

