
/*********************************** NAV *******************************/
nav {
    height: 90px;
}

.nav-wrapper ul {
    padding: 15px;
}


/**** Home ********/

.home {
       background-image:linear-gradient(rgba(39, 39, 39, 0.788), rgba(39, 39, 39, 0.788)),
       url("https://images.unsplash.com/photo-1604798676621-1367601dee73?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
       background-size: cover;
       background-position: top;
       background-repeat: no-repeat;
display: flex;
justify-content: space-between;
width: 100%;

    /* background-color: rgba(238, 238, 238, 0.822); */
    
}
.person_card {
      width: 40%;
     height: 40vh;
     margin-top: 100px;
     padding-top: 40px;
    
}

.card_info {
    padding: 30px;
    text-align: center;

}

.middle_section {
    /* text-align: center;
     width: 80%;
    margin: 30px auto;  */
    background-color:white;
}

/*********** SIDE BAR*************/
.side_bar_menu {
   
    height: 100vh;
    width: 20%;
    
}
.side_bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
  margin-top: 60px;
}

.side_bar li {
    margin-top: 50px;
}
 .side_link {
    color: rgb(161, 161, 161);
 }
.side_bar .side_link:hover {
 color: black;
 text-align: center;
}
.side_bar i{
    font-size: 40px;
    color: #9da4cf;
   
}
.side_bar p {
    text-align: center;
}

/********** POST *********************/
.right-box {
    width: 20%;
    margin-top: 70px;
}
.right-box .post {
text-align: center;
padding: 10px;


}
.middle_section {
    padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

/**************img *************/

.img_box {
 
width: 30vh;
height: 30vh;
}

.img_box img {

      width: 100%;
      height: 100%;
      border-radius: 50%;
}
.addBTN {
     background-color:rgba(238, 238, 238, 0.829);
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
}


/**************** PROJECTS **************/


.grid_list {
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-gap: 15px;
    padding: 20px;
}

.img_holder {
    width: 100%;
    margin: 0 auto;
}

.project_box img {
    width: 100%;
}

h3 {
    text-align: center;
}

.deleteBtn {
    width: 100%;
    margin: 0 auto;
}

.project_box {
    background-color: rgba(238, 238, 238, 0.829);
    padding: 10px;
}


/*************** Skils ***********/







/************* FOOTER *****************/
  .App {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }

  main {
      flex: 1 0 auto;
  }

 .page-footer {
     background-color: #1d2031;
 } 
.colmns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
}
.footer_list {
    text-align: left;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons i {
    font-size: 35px;
}
.contact_info {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
}
.contact_info i {
    margin-right: 20px;
    margin: 10px 0;
}

.footer-copyright .container {
    text-align: center;
}
